# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment directories
env/
venv/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE and editor directories
.vscode/
.idea/

# Dependency directories
node_modules/
pip-log.txt
pip-delete-this-directory.txt

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# Python build directories
build/
dist/
*.egg-info/

# Environment variable files
.env

# Logs
*.log

# Test results
nosetests.xml
coverage.xml
*.cover
*.tox
*.nox
*.coverage
*.hypothesis
.coverage

# Data files
*.csv
*.xlsx


# Compressed files
*.zip


# Data directories
datasets/
saved_folder/

